body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    color: #fff;
    padding: 10px 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
    cursor: pointer;
}

main {
    padding: 20px 50px;
}

.hero {
    background: url('stranger-things.jpeg') center/cover no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hero-content {
    text-align: center;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

button {
    background-color: #e50914;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
